##
# EXAMPLE
#
# Read more about .env files when using create-react-app here:
# https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables#adding-development-environment-variables-in-env
#

PUBLIC_URL=/demo/
APP_CONFIG=config/netlify.js
USE_HASH_ROUTER=false

# Frontend Authentication Configuration
REACT_APP_AUTH_API_URL=http://localhost:5000/api/auth
REACT_APP_ENABLE_AUTH=true
REACT_APP_AUTH_REDIRECT_URL=/login
